[include]
	path = ~/.gitconfig_private
[core]
	pager = delta
[help]
	#autocorrect = -1
	#format = web
[advice]
	statusHints = false
	detachedHead = false
[merge]
	tool = vimdiff

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	grep = auto
	#whitespace = red

#[color.diff]
#	frag = yellow
#	old = red
#	new = green
[color.grep]
	linenumber = yellow
	filename = yellow
	separator = magenta
	match = red
	function = green
	context = normal
	selected = bold
[push]
	default = simple
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[diff]
	compactionHeuristic = true
	noprefix = true
[pager]
#	log = diff-highlight | less
#	show = diff-highlight | less
#	diff = diff-highlight | less

#	log = diff-so-fancy | less
#	show = diff-so-fancy | less
#	diff = diff-so-fancy | less

	pager = delta

# breaks coloring in `git add -p` :-(
#[interactive]
#	diffFilter = diff-highlight
[interactive]
    diffFilter = delta --color-only

[core]
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore
[alias]
	cl = clone
	co = checkout
	br = branch
	l  = log --decorate --graph
	g  = grep
	grpe  = grep
	s  = status --short --branch
	d  = diff --relative
	dc = diff --relative --cached
	a  = add
	ap = add --patch
	c  = commit
	cm = commit -m
	ca = commit --amend
	up = pull --rebase -v
	pv = push -v
	ctags = !.git/hooks/ctags
[pull]
	rebase = false
[init]
	templatedir = ~/.git_template
[delta]
	features = unobtrusive-line-numbers decorations
	#side-by-side = true
	line-numbers = true
	whitespace-error-style = 22 reverse
	minus-style = red #bold ul "#ffeeee"
	minus-style = syntax auto
	; minus-emph-style = syntax auto
	; minus-style = syntax bold auto
	; plus-style = syntax blue
	plus-emph-style = syntax green # better readability with Solarized


[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[delta "unobtrusive-line-numbers"]
    line-numbers = true
    line-numbers-minus-style = "#444444"
    line-numbers-zero-style = "#444444"
    line-numbers-plus-style = "#444444"
    line-numbers-left-format = "{nm:>4}┊"
    line-numbers-right-format = "{np:>4}│"
    line-numbers-left-style = blue
    line-numbers-right-style = blue
